/* Reset and base styles  */
body{
    background-color: #fff;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@mixin Product-note() { 
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 15px;
    border-radius: 13px;
    font-size: 13.2px;
    margin-bottom: 7px;
    font-family: "Inter-Medium";
    text-transform: uppercase;
    font-weight: 600;
 }

 @mixin Product-arrow() { 
    position: absolute;
    right: -14.5px;
    top: 45%;
 }
 



 @font-face {
	font-family: 'Effloresce';
	src: url(/fonts/effloresce.woff);
    font-style: normal;
}
@font-face {
	font-family: 'Effloresce';
	src: url(/fonts/effloresce-antique.woff);
    font-style: normal;
}
@font-face {
	font-family: 'Effloresce';
	src: url(/fonts/effloresce-bd.woff);
    font-style: normal;
}
@font-face {
	font-family: 'Effloresce';
	src: url(/fonts/effloresce-bd-it.woff);
    font-style: normal;
}
@font-face {
	font-family: 'Effloresce';
	src: url(/fonts/effloresce-it.woff);
    font-style: normal;
}
@font-face {
	font-family: 'Ruberoid';
	src: url(/fonts/Ruberoid-Regular.woff);
}




$color_wh:rgba(255, 255, 255, 1);
$color_bl:rgba(0, 0, 0, 1);
$color_gr:rgba(62, 62, 62, 1);
$color__liggr:rgba(235, 235, 235, 1);


.container {
    width: 1218px;
    margin: 0 auto;
}
body {
    font-family: "Inter", sans-serif;
}


/* HEADER */

.header {
    &__guarantee {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 19px;
        padding: 12px 0;
        &-text {
            font-size: 14px;
            line-height: 18.98px;
            color: rgba(121, 121, 121, 1);
        }
        &-btn {
            width: 14px;
            height: 14px;
            padding: 5px 0;
            background-color: rgba(121, 121, 121, 1);
            border-radius: 50%;
        }
    }
    &__main {
        position: relative;
        color: $color_wh;
        

        
    }
    &__top {
        display: flex;
        align-items: center;
        padding-top: 23px;
    }
    &__icons {
        display: flex;
        column-gap: 20px;
        padding-left: 448.29px;
    }
    &__title {
        font-size: 66px;
        line-height: 66px;
        text-transform: uppercase;
        padding-bottom: 21.88px;
        font-family: 'Ruberoid';
    }
    &__btn {
        font-size: 13.2px;
        line-height: 15.98px;
        color: rgba(94, 94, 94, 1);
        background-color: $color_wh;
        width: 200px;
        padding: 20px 0;
        border-radius: 13px;
    }
    &__discount {
        font-size: 14.51px;
        line-height: 17.56px;
        background-color: $color_bl;
        border-radius: 14.29px;
        padding: 12.43px 22.66px;
        max-width: 153.95px;
        white-space: nowrap;
        transform: rotate(3.81deg);
        position: absolute;
        top: 153px;
        right: 62px;
    }
    &__info {
        max-width: 778px;
        padding: 130.12px 0 260px 0;
        position: relative;
    }
}
.nav__list {
    display: flex;
    column-gap: 25px;
    padding-right: 134px;
}
.nav__item {
    color: $color_wh;
    font-size: 12.25px;
    line-height: 14.82px;
    letter-spacing: 1%;
}

/* STORIES */

.stories {
    margin-top: 50px;
    &__inner {
       display: flex;
       justify-content: center;
       column-gap: 20px;
    }
    &__item {
      text-align: center;
    }
    &__img{
        border-radius: 50%;
        border: 3px solid #fff;
        height: 100%;
        width: 100%;
    }
    &__link{
        background: black;
        border-radius: 50%;
        padding: 1px;
        display: block;
        width: 82px;
        height: 82px;
    }
    &__item--title {
        padding-top: 9px;
        display: block;
        font-size: 15px;
        font-family: 'Ruberoid';
    }
}

/* POPULAR */

.products-top{
        margin-bottom: 20px;
        margin-top: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-btn{
            display: block;
            text-align: center;
            padding: 10px 20px;
            color: black;
            border-radius: 100px;
            border: 1px solid #B3B3B3;
            font-size: 13.2px;
            max-height: 36px;
        }
}
.section-title{
    font-size: 40px;
    font-family: 'Ruberoid';
}
.products{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 15.98px;


    &__product{
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 13px;
        border: 1px #d6d6d6 solid;
        position: relative;
        color: $color_gr;
        max-height: 284px; 
        &-inner{
            text-align: center;
            padding: 55px 15px 12px 15px;
        }
        &-img{
            max-width: 254px;
        }
        &-name{
            font-family: "Inter";
            font-size: 15.04px;
            line-height: 18.2px;
            text-align: center;
            span{
                font-weight: 800;
            }
            margin-bottom: 15px;
            
        }
        &-price{
            font-family: "Ruberoid";
            font-size: 15.04px;
            line-height: 20.39px;
        }
    }
}
.popular {
    margin-bottom: 95px;
}
.new{
    margin-bottom: 89px;
}


.hot{
    @include Product-note;
    background-color: black;
    color: white;

}
.like{
    position: absolute;
    top: 22px;
    right: 14.5px;
}
.new{
    .arrow{
        @include Product-arrow;
    }
}
.popular{
    .arrow{
        @include Product-arrow;
    }
}
.walk{
    .arrow{
        @include Product-arrow;
    }
}
.arrow{
    
    background-color: #797979;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    padding-top: 11.5px;
    padding-left: 15px;
    cursor: pointer;
    z-index: 100;
    img{
        width: 7.5px;
        height: 12.5px;
        
    }
}

/* NEW */

.new-icon{
    @include Product-note;
    background-color: rgba(255, 76, 76, 1);
    color: white;
}

.discont{
    @include Product-note;
    background-color: rgba(255, 76, 76, 1);
    color: white;
}

.pre-loved{
    @include Product-note;
    color: rgba(252, 255, 98, 1);
    background-color: black;
}

/*  CATEGORIES */

.categories{
    margin-bottom: 95px;
    &-inner{
        display: flex;
        justify-content: space-between;
    }
    &-link{
        position: relative;
    }
}

.category{
    &-inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title{
        position: absolute;
        bottom: 15px;
        left: 30px;
        font-family: Inter;
        font-size: 40px;
        font-weight: 500;
        line-height: 48.41px;
        letter-spacing: -0.02em;
       text-transform: lowercase; 
       color: #fff;
    }
}

/* WALK */

.walk{
    padding-bottom: 95px;
}

/* NIKE */

.nike{
    margin-bottom: 95px;
    &__pre-title{
        font-size: 40px;
        line-height: 53.72px;
        letter-spacing: -0.02em;
        text-align: center;
        font-family: 'Ruberoid';
    }
    &__title-inner{

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 50px;
        font-family: 'Effloresce';
    }
    &__title{
        font-family: "Effloresce";
        font-size: 80.57px;
        font-weight: 400;
        line-height: 97.65px;
        letter-spacing: -0.02em;
        text-align: center; 
    }
    &__categories{
        margin-top: 71px;
        display: flex;
        justify-content: space-between;
    }
    &__category{
        position: relative;
        .arrow{
            position: absolute;
            top: 17px;
            right: 23px;
        }
        &-title{
            position: absolute;
            bottom: 19px;
            left: 28px;
            font-family: "Ruberoid";
            font-size: 22.99px;
            font-weight: 400;
            line-height: 22.99px;
            letter-spacing: -0.05em;
            color: rgba(255, 255, 255, 1);
            text-transform: uppercase;
            &--2{
                top: 29px;
                left: 27px;
            }
        }
    }
    &__spec{
        margin-top: 95px;
        width: 100%;
        color: #fff;
        width: 100%;
        &-inner{
            width: 100%;
            position: relative;
        }
        &-title  {
            position: absolute;
            font-family: "Inter";
            font-size: 26px;
            line-height: 26px;
            letter-spacing: -0.03em;
            top: 58px;
            left: 65px;
        }          
        
        &-subtitle{
            position: absolute;
            font-family:"Ruberoid";
            font-size: 60px;
            line-height: 60px;
            left: 65px;
            bottom: 42px;
        }
        &-img{
            width: 100%;
        }
    }
    &__slide{
        position: absolute;
        top: 61px;
        right: 58px;
    }
}

.slider-block{
    display: flex;
    align-items: center;

}
.line{
    flex: 2;
    height: 1px;
    background-color: #D8D8D8;
}

/* SPECIAL */

.special {
    &__blocks {
        display: flex;
        column-gap: 20px;
        padding: 41px 0 61px 0;
        border-bottom: 1px solid $color__liggr;
    }
    &__info {
        color: $color_wh;
        font-size: 26px;
        line-height: 26px;
        letter-spacing: -3%;
    }
    &__title {
        font-size: 40px;
        line-height: 40px;
        font-weight: 500;
        padding: 102px 0 142px 0;
        white-space: nowrap;
    }
    &__title span {
        letter-spacing: -2%;
    }
    &__go {
        text-decoration: underline !important;
        color: $color_wh;
    }
    &__info {
        padding: 62px 228px 51px 55px;
        background: url(img/special-left.png);
        background-repeat: no-repeat;
        border-radius: 13px;
        &-right {
            padding-right: 183px;
            background: url(img/special-right.png);
            background-repeat: no-repeat;
        }
    }
}

/* STOCK */

.stock {
    &-top {
        display: flex;
        justify-content: space-between;
        padding: 39px 0 20px 0;
    }
}

/* SELL */

.sell {
    padding: 54px 0 28px 0;
    &__inner {
        background: url(img/sell.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__info {
        color: $color_gr;
        max-width: 505px;
        padding: 46px 0 24px 43px;
    }
    &__title {
        font-size: 40px;
        line-height: 53.72px;
        letter-spacing: -2%;
        font-family: "Ruberoid";
        padding-bottom: 15px;
    }
    &__text {
        font-size: 18px;
        line-height: 21.78px;
        letter-spacing: -2%;
        padding-bottom: 40px;
    }
    &__text span {
        letter-spacing: -3%;
    }
    &__btn {
        font-size: 13.2px;
        line-height: 15.98px;
        color: $color_wh;
        height: 56px;
        width: 143px;
        border-radius: 13px;
        background: linear-gradient(89.28deg, #090909 0.53%, #88837E 99.49%);
        border: 1px solid rgba(179, 179, 179, 1);
    }
}

/* DISCOUNT */

.discount {
    padding-bottom: 101px;
    &__inner {
        background: url(img/discount.png);
        border-radius: 13px;
    }
    &__info {
        color: $color_wh;
        padding: 46px 0 30px 43px;
        max-width: 520px;
    }
    &__title {
        font-size: 40px;
        line-height: 53.72px;
        font-family: "Ruberoid";
        padding-bottom: 15px;
        letter-spacing: -2%;
    }
    &__text {
        font-size: 18px;
        line-height: 21.78px;
        padding-bottom: 89px;
        letter-spacing: -2%;
    }
    &__text span {
        letter-spacing: -3%;
    }
    &__btn {
        font-size: 13.2px;
        line-height: 15.98px;
        color: $color_bl;
        background-color: $color_wh;
        border-radius: 35px;
        width: 205px;
        height: 55px;
        margin-left: 9px;
    }
    &__field {
        background-color: $color_wh;
        width: 232px;
        height: 55px;
        border-radius: 100px;
    }
    &__field::placeholder {
        color: rgba(217, 217, 217, 1);
        padding-left: 17px;
        font-size: 17px;
        line-height: 20.57px;
        letter-spacing: -2%;
    }
}

/* FOOTER */

.footer {
    border-top: 1px solid rgba(235, 235, 235, 1);
    &__info {
        padding-top: 68px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 58px;
    }
    &__description {
        max-width: 299px;
    }
    &__text {
        font-size: 15px;
        line-height: 18.15px;
        padding: 41.34px 0 49px 0;
        color: rgba(123, 123, 123, 1);
    }
    &__social-item {
        padding-right: 18px;
    }
    &__social-item:last-child {
        padding-right: 0;
    }
    &__nav {
        display: flex;
        font-size: 16px;
        line-height: 19.36px;
    }
    &__item {
        &-title {
            font-size: 22.89px;
            line-height: 30.74px;
            letter-spacing: -2%;
            font-family: "Ruberoid";
            padding-bottom: 18px;
        }
    }
    &__list:nth-child(1) {
        margin-right: 155px;
    }
    &__list:nth-child(2) {
        margin-right: 128px;
    }
    &__bottom {
        border-top: 1px solid rgba(235, 235, 235, 1);
    }
    &__bottom-nav {
        display: flex;
        justify-content: space-between;
        padding: 25px 0 26px 0;
    }
    &__bottom-item {
        font-size: 16px;
        line-height: 19.36px;
        color: rgba(114, 114, 114, 1);
    }
}

   




//category
    
.choosing-categories{
    font-family: "Inter";
    &__inner{
        margin-bottom: 57px;
    }
    &__link{
        display: block;
        font-size: 13px;
        color: rgba(145, 145, 145, 1);
        text-decoration: underline !important;
        padding-bottom: 20px;
    }
    &__list{
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
        &-item{
            display: block;
            cursor: pointer;
            padding: 10px 20px;
            background-color: rgba(235, 235, 235, 1);
            border-radius: 100px;  
            font-family: Inter;
            font-size: 16px;
            line-height: 19.36px;
        }
    }

}
.main{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__products{
        max-width: 892px;
    }
}
.categories-aside{
    max-width: 231px;
    font-family: "inter";
    &__title{
        font-size: 24px;
        font-weight: 600;
        line-height: 29.05px;
        padding-bottom: 20px;
    }
    &__type{
        font-family: Inter;
        font-size: 20px;
        line-height: 24.2px;
        padding-bottom: 25px;
        &-active{
            font-weight: 500;
        }
        }
    &__thing{
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: -0.01em;
        padding-bottom: 10px;
    h4{
        padding-bottom: 15px;
    }  
    }
    }

.search{
    position: relative;
    &::after{
        display: block;
        content: "";
        background-image: url(icons/lupa.svg);
        width: 14.62px;
        height: 19px;
        position: absolute;
        top: 5px;
        left: 6px;
    }
    &__input{
        width: 100%;
        max-height: 30px;
        padding: 10px 0;
        padding-left: 31px;
        line-height: 16.94px;
        letter-spacing: -0.01em;
        border: 1px solid rgba(179, 179, 179, 1);
        border-radius: 8px;
    }
}
.line-grey{
    content: "";
            display: block;
            background-color: rgba(235, 235, 235, 1);
            height: 1px;
            box-shadow: 0px -1px 3.5px 0px rgba(0, 0, 0, 0.16);
            margin-top: 10px;
            margin-bottom: 10px;

}
.checkbox{
    &-color{
        margin-top: 10px;
    }
    &__inner{
        &:nth-child(1) span{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-color: rgba(235, 235, 235, 1);
            border-radius: 31px;
            margin-right: 2.5px;
            
          }
          &:nth-child(2) span{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-color: rgba(149, 6, 16, 1);
            border-radius: 31px;
            margin-right: 2.5px;
        
          }
          &:nth-child(3) span{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-color: rgba(0, 0, 0, 1);
            border-radius: 31px;
            margin-right: 2.5px;
          }        
    }
    
    &__choice{
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked+label::after{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: black;
            margin-left: 4px;
        }
    }
    &__text{
        display: inline-flex;
        align-items: center;
        user-select: none;
        &::before{
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid black;
            border-radius: 4px;
            margin-right: 10px;
            position: relative;
        }
    }
}

/* CATEGORY HEADER */

.header {
    &__category {
        background: url(img/category.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__category-bottom {
        color: $color_wh;
        padding: 200.5px 0 24px 0;
    }
    &__categories {
        font-size: 12.25px;
        line-height: 14.82px;
        padding-bottom: 16px;
    }
    &__category-title {
        font-size: 66.88px;
        line-height: 66.88px;
        text-transform: uppercase;
        font-family: "Ruberoid";
    }
}

/* CLIENT */

/* HEADER */

.header {
    &__client {
        background: url(img/client.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* REQUESTS */

.requests {
    position: relative;
    &__line {
        height: 1px;
        width: 100%;
        background-color: rgba(235, 235, 235, 1);
        position: absolute;
        bottom: 617px;
        left: 0;
    }
    &__block {
        color: $color_bl;
    }
    &__column {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
    }
    &__column:nth-child(3) {
        padding-bottom: 64px;
    }
    &__column:last-child {
        padding-bottom: 69px;
    }
    &__block-title {
        font-size: 28px;
        line-height: 37.6px;
        letter-spacing: -2%;
        font-family: "Ruberoid";
    }
    &__block-text {
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: -2%;
        color: rgba(77, 77, 77, 1);
    }
    &__block-info {
        padding: 34px 41px 34px 30px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 13px;
        max-width: 382px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 246px;
    }
    &__title {
        font-size: 40px;
        line-height: 53.72px;
        letter-spacing: -2%;
        font-family: "Ruberoid";
        padding-bottom: 25px;
    }
    &__text {
        font-size: 20px;
        line-height: 24.2px;
        letter-spacing: -2%;
        color: rgba(77, 77, 77, 1);
        max-width: 831px;
        margin: 0 auto;
    }
    &__info {
        text-align: center;
        padding: 62.5px 0 67px 0;
    }
}
.footer__item {
    color: $color_bl;
}

/* CONSIGNMENT */

/* HEADER */

.header {
    &__consignment {
        background: url(img/consignment.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* CONSIGNMENT */

.consignment {
    &__info {
        text-align: center;
        padding: 62.5px 0 86px 0;
    }
    &__photos {
        display: flex;
        justify-content: space-between;
        padding-bottom: 87px;
    }
}

/* GUIDE */

.guide {
    &__title {
        font-size: 40px;
        line-height: 53.72px;
        letter-spacing: -2%;
        padding-bottom: 40px;
        text-align: center;
        font-family: "Ruberoid";
        &-form {
            padding-bottom: 21px;
            max-width: 849px;
        }
    }
    &__column {
        display: flex;
        justify-content: space-between;
        padding-bottom: 19px;
    }
    &__column:nth-child(3) {
        padding-bottom: 16px;
    }
    &__block-seven {
        display: flex;
        justify-content: center;
    }
    &__number {
        font-size: 65.1px;
        line-height: 90.23px;
        letter-spacing: -2%;
        font-family: "Ruberoid";
        color: rgba(214, 214, 214, 1);
    }
    &__text {
        font-size: 28px;
        line-height: 37.6px;
        letter-spacing: -2%;
        font-family: "Ruberoid";
    }
    &__info {
        padding: 20px 0 18px 28px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 13px;
        width: 387px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 196px;
    }
    &__example {
        display: flex;
        column-gap: 28px;
        font-size: 13px;
        line-height: 15.73px;
    }
}

/* QUESTIONS */

.questions {
    &__info {
        padding: 72px 0 19px 0;
        text-align: center;
    }
    &__answer {
        padding: 24px 29px 24px 24px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 13px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 7px;
        &-question {
            font-size: 20px;
            line-height: 24.2px;
            letter-spacing: -2%;
        }
        &-answer {
            padding-top: 18px;
            &--display {
                display: none;
            }
        }
        &-cross {
            padding: 10px 10px;
            background-color: $color_wh;
            border-radius: 50%;
            &-display {
                display: none;
            }
        }
        max-width: 794px;
    }
    &__answer:last-child {
        margin-bottom: 90px;
    }
}

/* FORM */

.guide__title-form {
    margin: 0 auto;
}
.form {
    &__inner {
        text-align: center;
        padding-bottom: 114px;
    }
    &__text {
        font-size: 14px;
        line-height: 16.94px;
        letter-spacing: -2%;
        color: rgba(173, 173, 173, 1);
        max-width: 383px;
        text-align: center;
        padding-top: 18px;
        margin: 0 auto;
    }
    &__btn {
        font-size: 13.2px;
        line-height: 15.98px;
        color: rgba(233, 233, 233, 1);
        width: 284px;
        height: 56px;
        background-color: rgba(34, 34, 34, 1);
        border-radius: 13px;
    }
}

/* CONCIERGE */

/* HEADER */

.header {
    &__concierge {
        background: url(img/concierge.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.requests__title-searchBg {
    max-width: 730px;
    text-align: center;
    padding-bottom: 24px;
    margin: 0 auto;
}
.searchBg {
    &__inner {
        position: relative;
    }
    &__info {
        padding-top: 62.5px;
        text-align: center;
        padding-bottom: 54px;
    }
    &-img {
        position: absolute;
        top: -83px;
        left: 28px;
        z-index: -1;
    }
}

/* SEARCHFORM */

.searchForm {
    &__info {
        padding: 32px 43px 38px 53px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 13px;
        max-width: 544px;
        margin: 0 auto;
        margin-bottom: 78px;
    }
    &__title {
        font-size: 28px;
        line-height: 37.6px;
        letter-spacing: -2%;
        padding-bottom: 35px;
        font-family: "Ruberoid";
        text-align: center;
    }
    &__field-text {
        font-size: 17px;
        line-height: 20.57px;
        letter-spacing: -2%;
        color: rgba(77, 77, 77, 1);
        padding-bottom: 8px;
    }
    &__field-input {
        width: 438px;
        height: 55px;
        background-color: $color_wh;
        border: 1px solid rgba(179, 179, 179, 1);
        border-radius: 100px;
    }
    &__field-input::placeholder {
        font-size: 17px;
        line-height: 20.57px;
        color: rgba(217, 217, 217, 1);
        padding-left: 23px;
    }
    &__field {
        padding-bottom: 20px;
    }
    &__download {
        color: rgba(77, 77, 77, 1);
        font-size: 17px;
        line-height: 20.57px;
        letter-spacing: -2%;
        background-color: $color_wh;
        border-radius: 100px;
        width: 294px;
        height: 61px;
        padding-left: 26px;
        &-img {
            position: absolute;
            top: 20.5px;
            left: 114px;
        }
    }
    &__btn {
        position: relative;
        padding-bottom: 37px;
    }
    &__send {
        color: rgba(233, 233, 233, 1);
        font-size: 13.2px;
        line-height: 15.98px;
        background-color: rgba(34, 34, 34, 1);
        border-radius: 13px;
        width: 284px;
        height: 56px;
    }
    &__buttons {
        text-align: center;
    }
    &__terms {
        font-size: 14px;
        line-height: 16.94px;
        letter-spacing: -2%;
        color: rgba(173, 173, 173, 1);
        max-width: 380px;
        text-align: center;
        margin: 0 auto;
        padding-top: 18px;
    }
}

/* CUSTOM */

/* HEADER */

.header {
    &__custom {
        background: url(img/custom.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* CREATE */

.requests__title-create {
    max-width: 1200px;
}
.create {
    position: relative;
    &__title {
        font-size: 40px;
        line-height: 53.72px;
        letter-spacing: -0.02em;
        font-family: "Ruberoid";
        padding-bottom: 12px;
    }
    &__line {
        height: 1px;
        width: 100%;
        background-color: rgba(235, 235, 235, 1);
        position: absolute;
        bottom: 82px;
        left: 0;
    }
    &__images {
        display: flex;
        column-gap: 20px;
        padding-bottom: 31px;
        &-img:first-child {
            margin-bottom: 16px;
        }
    }
    &__buttons {
        display: flex;
        column-gap: 46px;
        align-items: center;
        justify-content: center;
        padding-bottom: 144px;
    }
    &__text {
        font-size: 18.5px;
        line-height: 22.39px;
        color: $color_bl;
    }
}
.sell__btn-create {
    width: 284px;
    height: 56px;
    color: rgba(233, 233, 233, 1);
}

/* PRELOVED */

/* HEADER */

.header {
    &__preloved {
        background: url(img/preloved.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.searchBg__info-preloved {
    padding-bottom: 34px;
}
.requests__title-preloved {
    max-width: 1027px;
    margin: 0 auto;
}
.preloved__inner {
    padding-bottom: 98px;
    text-align: center;
}
.sell__btn-preloved {
    width: 284px;
}
.create__line-preloved {
    bottom: 58px;
}

/* HISTORY */

/* HEADER */

.header {
    &__history {
        background: url(img/history.png);
        background-repeat: no-repeat;
        background-size: cover;
        &-bottom {
            color: $color_wh;
            padding: 67.1px 0 86px 0;
        }
        &-title {
            font-size: 66.88px;
            line-height: 66.88px;
            max-width: 428px;
            font-family: "Ruberoid";
            text-transform: uppercase;
            padding-bottom: 101px;
        }
        &-brand {
            font-size: 174.72px;
            line-height: 211.76px;
            letter-spacing: -0.02em;
            font-family: 'Effloresce';
            display: flex;
            justify-content: right;
        }
    }
}

.history {
    &__left {
        max-width: 797px;
        
    }
    &__nav {
        display: flex;
        font-size: 12.25px;
        line-height: 16.45px;
        letter-spacing: 0.06em;
        color: rgba(124, 124, 124, 1);
        padding: 55px 0 26px 0;
        &-categories span {
            color: rgba(203, 203, 203, 1);
        }
    }
    &__text {
        font-size: 20px;
        line-height: 24.2px;
        letter-spacing: -0.02em;
        max-width: 783px;
        padding-bottom: 50px;
        text-align: justify;
        &-flex {
            max-width: 351px;
        }
        &-quote {
            max-width: 791px;
            text-align: center;
            padding: 17px 84px 21px 116px;
            background-color: rgba(242, 242, 242, 1);
            border-radius: 13px;
        }
        &-bottom {
            padding-bottom: 96px;
        }
    }
    &__img {
        max-width: 797px;
        padding-bottom: 40px;
    }
    &__title {
        font-size: 32px;
        line-height: 38.73px;
        letter-spacing: -0.03em;
    }
    &__flex {
        display: flex;
        column-gap: 30px;
        padding-top: 25px;
        &-img {
            max-width: 415px;
            max-height: 264px;
        }
    }
    &__quote {
        padding-bottom: 50px;
        position: relative;
        &-left {
            position: absolute;
            top: 17px;
            left: 64px;
        }
        &-right {
            position: absolute;
            bottom: 65px;
            left: 567px;
        }
    }
    &__slider {
        padding-left: 18px;
        &-img {
            max-width: 790px;
            max-height: 336px;
        }
        &-caption {
            font-size: 14px;
            line-height: 18.8px;
            font-family: "Ruberoid";
            color: rgba(124, 124, 124, 1);
            padding: 15px 0 50px 8px;
        }
        
    }
}



.slides-header{
    content: "";
    max-width: 100%;
    height: 100%;
    z-index: -1;
}
.slider-header{
    
    position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

  &:nth-child(1){
    background-image: url(img/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  &:nth-child(2){
    background-image: url(img/main1.png);
    background-size: cover;
    background-repeat: no-repeat;

  }
  &:nth-child(3){
    background-image: url(img/main.png);
    background-size: cover;
    background-repeat: no-repeat;

  }
  &:nth-child(4){
    background-image: url(img/main1.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}

.showing{
    opacity: 1;
    z-index: -1;
  }


  .slick-line{
    display: flex;
    column-gap: 9px;
    padding-bottom: 24px;
    justify-content: center;
    &__item{

        display: block;
        content: "";
        height: 2px;
        width: 72px;
        background-color: rgba(255, 255, 255, 0.37);
    }
  }






.price-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0 16px;
}
.field {
  display: flex;
  width: 100%;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid rgba(179, 179, 179, 1);
  padding: 7px 0px 7px 8px;
}

.separator {
  content: "";
  width: 9px;
  height: 1px;
  margin: 0 4px;
  background-color: #090909;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 2px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.progress {
  height: 100%;
  left: 30%;
  right: 25%;
  position: absolute;

  border-radius: 5px;
  background: rgba(255, 127, 98, 1);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    height: 22px;
    width: 22px;
  border-radius: 50%;
  border: solid 2px ;
  background: white;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
